<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/style.css">
    <title>Tech Blog</title>
</head>
<body>
<section class="navbar">
    <h1 class="brand">Tory's Tech Blog</h1>

    <ul class="navlinks">
        <li><a href="/" class="home">HOME</a></li>
        <li><a href="/login" class="login">LOGIN</a></li>
    </ul>

</section>

<section class="hero">
    <h2 class="title">Welcome Techies</h2>
    <p class="start">Welcome to Tory's Tech Blog! You can save important tips, reminders, and shortcuts by posting them here. Simply login or register to get started.</p>
</section>
<script src="../public/JS/script.js"></script>
</body>
</html>